@import url('https://fonts.googleapis.com/css?family=Inter');

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.page-wrapper {
  display:flex;
  flex:1;
  min-height: 0;
}

.main-content {
  display:flex;
  flex:1;
  color:white;
  font-family: 'Inter';
  padding: 15px;
  overflow: hidden;
  min-height: 0;
}

.Title {
  font-size: 28px;
  font-weight: bold;
  padding: 0px 0px 10px;
}

.HomeContents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
  gap: 0px 20px;
  flex: 1;
}

.box {
  background-color: #0D0D0D;
  margin-bottom: 20px;
  font-weight: 575;
  text-align: left;
  flex-wrap: wrap;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 215px;
  width: 275px;
  border-radius: 10px;
  overflow-y: auto;
  flex: 0 0 auto;
}

.box:hover {
  cursor: pointer;
  background-color: #282828;
}

.Footer {
  height: 10%;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FooterContents {
  color:white;
  font-family: 'Inter';
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.FooterContents .text {
  text-decoration: underline;
}

.FooterContents .text:hover {
  cursor: pointer;
}


.Sidebar {
  height: 100%;
  width: 100px;
  background-color: #0D0D0D;
}

.SidebarList {
  padding: 10px;
  color: white;
  font-family: 'Inter';
  font-size:13px;
}

.SidebarList .row {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.SidebarList .row:nth-child(2) {
  margin-bottom: 180px;
}


.SidebarList .row:hover {
  cursor: pointer;
  color: #0D0D0D;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.Leftbar {
  margin-right: 15px;
}

.Header {
  font-size: 25px;
  font-weight: bold;
}

.Mainbox {
  background-color: #0D0D0D;
  margin-top: 50px;
  font-weight: 575;
  text-align: left;
  flex-wrap: wrap;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 450px;
  width: 800px;
  border-radius: 20px;
  flex: 0 0 auto;
}

.Sidebox {
  background-color: #0D0D0D;
  margin-bottom: 20px;
  text-align: left;
  flex-wrap: wrap;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 220px;
  width: 350px;
  border-radius: 20px;
  flex: 0 0 auto;
}

.Buttons {
  width: 350px;
  display:flex;
  flex:1;
  flex-direction: column;
  gap:10px;
}

.Button {
  height:40px;
  width:350px;
  background-color: #0D0D0D;
  text-align: left;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 13px;
}

.Button:hover {
  cursor: pointer;
  background-color: white;  
  color: #0D0D0D;
  font-weight:bold;
}

.Buttons .Button:nth-child(3) {
  margin-bottom: 90px;
}

.Services {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  gap: 10px;
  font-size: 16px;
}

.Link {
  flex-direction: row;
  display:flex;
  gap: 475px;
}

.LinkArea {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;
  color: #6B6B6B;
  font-style: italic;
}

.LinkButton {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 120px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: white;
  color: white;
}

.LinkButton:hover {
  color: black;
  background-color: white;
}

.Profilebox {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 450px;
  background-color: #0D0D0D;
  border-radius: 15px;
  color: white;
}

.User-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
  gap: 15px;
  align-items: center;
  padding: 5px;
}

.User-info {
  align-items: center;
  justify-content: center;
}

.User {
  background-color: white;
  width: 15%;
  height: 90%;
}

.Username {
  font-size: 50px;
  font-weight: bold;
}

.Playlist-box {
  display:flex;
  flex-direction: row;
}

.Linked-Accs {
  font-size: 20px;
  margin-left: 15px;
  width: 100%;
  height: 25%;
  margin-top: 10px;
}

.Services {
  padding: 5px;
  font-size: 13px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
  flex: 1;
}

.Service {
  flex-wrap: wrap;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
}

